주피터 SQL 엔진 설정

In [40]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [41]:
# ID와 PW를 자신의 환경에 맞게 수정
%sql postgresql://guest:Guest1!*@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

'Connected: guest@dev'

월별 세션수를 계산하는 SQL

In [11]:
%%sql

SELECT
    LEFT(ts, 7) AS mon,
    COUNT(1) AS session_count
FROM raw_data.session_timestamp
GROUP BY 1
ORDER BY 1;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('2019-05', 6261),
 ('2019-06', 10520),
 ('2019-07', 14840),
 ('2019-08', 17151),
 ('2019-09', 15790),
 ('2019-10', 18899),
 ('2019-11', 18059)]

가장 많이 사용된 채널은 무엇인가?

In [12]:
%%sql

SELECT
    channel,
    COUNT(1) AS session_count,
    COUNT(DISTINCT userId) AS user_count
FROM raw_data.user_session_channel
GROUP BY 1                         -- GROUP BY channel
ORDER BY 2 DESC;              -- ORDER BY session_count DESC

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
6 rows affected.

[('Youtube', 17091, 889),
 ('Google', 16982, 893),
 ('Naver', 16921, 882),
 ('Organic', 16904, 895),
 ('Instagram', 16831, 895),
 ('Facebook', 16791, 889)]

In [13]:
%%sql

SELECT
    channel,
    COUNT(1) AS session_count,
    COUNT(DISTINCT userId) AS user_count
FROM raw_data.user_session_channel
GROUP BY 1                         -- GROUP BY channel
ORDER BY 3 DESC;              -- ORDER BY user_count DESC

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
6 rows affected.

[('Instagram', 16831, 895),
 ('Organic', 16904, 895),
 ('Google', 16982, 893),
 ('Facebook', 16791, 889),
 ('Youtube', 17091, 889),
 ('Naver', 16921, 882)]

가장 많은 세션을 만들어낸 사용자 ID는 무엇인가?

In [ ]:
%%sql

SELECT
    userId,
    COUNT(1) AS count
FROM raw_data.user_session_channel
GROUP BY 1                         -- GROUP BY userId
ORDER BY 2 DESC              -- ORDER BY count DESC
LIMIT 1;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(1615, 528)]

월별 유니크한 사용자 수

In [ ]:
%%sql

SELECT 
  TO_CHAR(A.ts, 'YYYY-MM') AS month,
  COUNT(DISTINCT B.userid) AS mau
FROM raw_data.session_timestamp A
JOIN raw_data.user_session_channel B ON A.sessionid = B.sessionid
GROUP BY 1      
ORDER BY 1 DESC;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('2019-11', 721),
 ('2019-10', 763),
 ('2019-09', 639),
 ('2019-08', 662),
 ('2019-07', 623),
 ('2019-06', 459),
 ('2019-05', 281)]

In [14]:
%%sql

SELECT 
  TO_CHAR(A.ts, 'YYYY-MM') AS month,
  COUNT(B.userid) AS cnt,
  COUNT(DISTINCT B.userid) AS mau
FROM raw_data.session_timestamp A
JOIN raw_data.user_session_channel B ON A.sessionid = B.sessionid
GROUP BY 1      
ORDER BY 1 DESC;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('2019-11', 18059, 721),
 ('2019-10', 18899, 763),
 ('2019-09', 15790, 639),
 ('2019-08', 17151, 662),
 ('2019-07', 14840, 623),
 ('2019-06', 10520, 459),
 ('2019-05', 6261, 281)]

월별 채널별 유니크한 사용자 수

In [ ]:
%%sql

SELECT 
  TO_CHAR(A.ts, 'YYYY-MM') AS month,
  channel,
  COUNT(DISTINCT B.userid) AS mau
FROM raw_data.session_timestamp A
JOIN raw_data.user_session_channel B ON A.sessionid = B.sessionid
GROUP BY 1, 2      
ORDER BY 1 DESC, 2;  -- 2 뒤에 ASC가 디폴트

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
42 rows affected.

[('2019-11', 'Facebook', 688),
 ('2019-11', 'Google', 688),
 ('2019-11', 'Instagram', 669),
 ('2019-11', 'Naver', 667),
 ('2019-11', 'Organic', 677),
 ('2019-11', 'Youtube', 677),
 ('2019-10', 'Facebook', 698),
 ('2019-10', 'Google', 699),
 ('2019-10', 'Instagram', 707),
 ('2019-10', 'Naver', 713),
 ('2019-10', 'Organic', 709),
 ('2019-10', 'Youtube', 705),
 ('2019-09', 'Facebook', 597),
 ('2019-09', 'Google', 599),
 ('2019-09', 'Instagram', 588),
 ('2019-09', 'Naver', 592),
 ('2019-09', 'Organic', 592),
 ('2019-09', 'Youtube', 588),
 ('2019-08', 'Facebook', 611),
 ('2019-08', 'Google', 610),
 ('2019-08', 'Instagram', 621),
 ('2019-08', 'Naver', 626),
 ('2019-08', 'Organic', 608),
 ('2019-08', 'Youtube', 614),
 ('2019-07', 'Facebook', 558),
 ('2019-07', 'Google', 556),
 ('2019-07', 'Instagram', 567),
 ('2019-07', 'Naver', 553),
 ('2019-07', 'Organic', 557),
 ('2019-07', 'Youtube', 564),
 ('2019-06', 'Facebook', 414),
 ('2019-06', 'Google', 412),
 ('2019-06', 'Instagram', 410),
 ('2019-06', 'Naver', 398),
 ('2019-06', 'Organic', 416),
 ('2019-06', 'Youtube', 400),
 ('2019-05', 'Facebook', 247),
 ('2019-05', 'Google', 253),
 ('2019-05', 'Instagram', 234),
 ('2019-05', 'Naver', 237),
 ('2019-05', 'Organic', 238),
 ('2019-05', 'Youtube', 244)]

### CTAS & CTE

CTAS: SELECT를 가지고 테이블 생성

In [ ]:
CTAS: SELECT를 가지고 테이블 생성

In [26]:
%%sql

DROP TABLE IF EXISTS adhoc.byeongmin_session_summary;  -- DROP TABLE 만 할 경우 TABLE이 존재 하지 않으면 에러 발생 -> IF EXISTS를 통해 만약에 중복되지 않는 TABLE이 있더라도 에라가 발생하지 않도록 방지
CREATE TABLE adhoc.byeongmin_session_summary AS -- adhoc 폴더 안에 byeongmin_session_summary table 생성 <- keeyong_session_summary 공유 폴더라 충돌이 발생하는걸 막기위해 폴더명 변경
SELECT B.*, A.ts FROM raw_data.session_timestamp A
JOIN raw_data.user_session_channel B ON A.sessionid = B.sessionid;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [29]:
%%sql

SELECT 
  TO_CHAR(ts, 'YYYY-MM') AS month,
  COUNT(DISTINCT userid) AS mau
FROM adhoc.byeongmin_session_summary -- JOIN으로 처리 했던 부분이 새로 만든 table로 대
GROUP BY 1 
ORDER BY 1 DESC;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('2019-11', 721),
 ('2019-10', 763),
 ('2019-09', 639),
 ('2019-08', 662),
 ('2019-07', 623),
 ('2019-06', 459),
 ('2019-05', 281)]

중복된 레코드들 체크하기

In [30]:
%%sql

SELECT COUNT(1) FROM adhoc.byeongmin_session_summary;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(101520,)]

In [31]:
%%sql

SELECT COUNT(1)
FROM (
    SELECT DISTINCT userId, sessionId, ts, channel 
    FROM adhoc.byeongmin_session_summary
);

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(101520,)]

### 중복된 레토드들 체크(2)
- CTE를 사용

In [32]:
%%sql

With ds AS (
  SELECT DISTINCT userId, sessionId, ts, channel 
  FROM adhoc.keeyong_session_summary
)
SELECT COUNT(1)
FROM ds;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(101520,)]

최근 데이터의 존재 여부 체크하기 (freshness)

In [33]:
%%sql

SELECT MIN(ts), MAX(ts)
FROM adhoc.byeongmin_session_summary;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(datetime.datetime(2019, 5, 1, 0, 13, 11, 783000), datetime.datetime(2019, 11, 30, 23, 58, 23))]

Primary key uniqueness가 지켜지는지 체크하기

In [34]:
%%sql

SELECT sessionId, COUNT(1)
FROM adhoc.keeyong_session_summary
GROUP BY 1
ORDER BY 2 DESC
LIMIT 1;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[('05ae14d7ae387b93370d142d82220f1b', 1)]

값이 비어있는 컬럼들이 있는지 체크하기

In [35]:
%%sql

SELECT
    COUNT(CASE WHEN sessionId is NULL THEN 1 END) sessionid_null_count,
    COUNT(CASE WHEN userId is NULL THEN 1 END) userid_null_count,
    COUNT(CASE WHEN ts is NULL THEN 1 END) ts_null_count,
    COUNT(CASE WHEN channel is NULL THEN 1 END) channel_null_count
FROM adhoc.byeongmin_session_summary;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(0, 0, 0, 0)]

### 클론 코딩

In [6]:
%%sql

SELECT
    LEFT(ts, 7) AS mon,
    COUNT(1) AS session_count
FROM raw_data.session_timestamp
GROUP BY 1
ORDER BY 1;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('2019-05', 6261),
 ('2019-06', 10520),
 ('2019-07', 14840),
 ('2019-08', 17151),
 ('2019-09', 15790),
 ('2019-10', 18899),
 ('2019-11', 18059)]

In [7]:
%%sql

SELECT
    channel,
    COUNT(1) AS session_count,
    COUNT(DISTINCT userId) AS user_count
FROM raw_data.user_session_channel
GROUP BY 1
ORDER BY 2 DESC;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
6 rows affected.

[('Youtube', 17091, 889),
 ('Google', 16982, 893),
 ('Naver', 16921, 882),
 ('Organic', 16904, 895),
 ('Instagram', 16831, 895),
 ('Facebook', 16791, 889)]

In [8]:
%%sql

SELECT
    channel,
    COUNT(1) AS session_count,
    COUNT(DISTINCT userId) AS user_count
FROM raw_data.user_session_channel
GROUP BY 1
ORDER BY 3 DESC;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
6 rows affected.

[('Instagram', 16831, 895),
 ('Organic', 16904, 895),
 ('Google', 16982, 893),
 ('Facebook', 16791, 889),
 ('Youtube', 17091, 889),
 ('Naver', 16921, 882)]

In [9]:
%%sql

SELECT
    userId,
    COUNT(1) AS count
FROM raw_data.user_session_channel
GROUP BY 1
ORDER BY 2 DESC
LIMIT 1;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(1615, 528)]

### 월별 유니크한 사용자 수 클론 코드

- mau : monthly activity user

In [10]:
%%sql

SELECT
    TO_CHAR(A.ts, 'YYYY-MM') AS month, -- == LEFT(A.ts, 7)
    COUNT(DISTINCT B.userId) AS mau
FROM raw_data.session_timestamp A
JOIN raw_data.user_session_channel B ON A.sessionid = B.sessionid
GROUP BY 1
ORDER BY 1 DESC;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('2019-11', 721),
 ('2019-10', 763),
 ('2019-09', 639),
 ('2019-08', 662),
 ('2019-07', 623),
 ('2019-06', 459),
 ('2019-05', 281)]

In [11]:
%%sql

SELECT
    TO_CHAR(A.ts, 'YYYY-MM') AS month, -- == LEFT(A.ts, 7)
    COUNT(B.userId) AS cnt,
    COUNT(DISTINCT B.userId) AS mau
FROM raw_data.session_timestamp A
JOIN raw_data.user_session_channel B ON A.sessionid = B.sessionid
GROUP BY 1
ORDER BY 1 DESC;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('2019-11', 18059, 721),
 ('2019-10', 18899, 763),
 ('2019-09', 15790, 639),
 ('2019-08', 17151, 662),
 ('2019-07', 14840, 623),
 ('2019-06', 10520, 459),
 ('2019-05', 6261, 281)]

### 월별 채널별 유니크한 사용자 수 클론 코딩

In [12]:
%%sql

SELECT
    LEFT(A.ts, 7) AS month,
    channel,
    COUNT(DISTINCT B.userId) AS mau
FROM raw_data.session_timestamp A
JOIN raw_data.user_session_channel B ON A.sessionid = B.sessionid
GROUP BY 1, 2
ORDER BY 1 DESC, 2; -- 월별로 내림차순으로 정렬 후 채널의 a,b,c 순으로 오름차순 정

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
42 rows affected.

[('2019-11', 'Facebook', 688),
 ('2019-11', 'Google', 688),
 ('2019-11', 'Instagram', 669),
 ('2019-11', 'Naver', 667),
 ('2019-11', 'Organic', 677),
 ('2019-11', 'Youtube', 677),
 ('2019-10', 'Facebook', 698),
 ('2019-10', 'Google', 699),
 ('2019-10', 'Instagram', 707),
 ('2019-10', 'Naver', 713),
 ('2019-10', 'Organic', 709),
 ('2019-10', 'Youtube', 705),
 ('2019-09', 'Facebook', 597),
 ('2019-09', 'Google', 599),
 ('2019-09', 'Instagram', 588),
 ('2019-09', 'Naver', 592),
 ('2019-09', 'Organic', 592),
 ('2019-09', 'Youtube', 588),
 ('2019-08', 'Facebook', 611),
 ('2019-08', 'Google', 610),
 ('2019-08', 'Instagram', 621),
 ('2019-08', 'Naver', 626),
 ('2019-08', 'Organic', 608),
 ('2019-08', 'Youtube', 614),
 ('2019-07', 'Facebook', 558),
 ('2019-07', 'Google', 556),
 ('2019-07', 'Instagram', 567),
 ('2019-07', 'Naver', 553),
 ('2019-07', 'Organic', 557),
 ('2019-07', 'Youtube', 564),
 ('2019-06', 'Facebook', 414),
 ('2019-06', 'Google', 412),
 ('2019-06', 'Instagram', 410),
 ('2019-06', 'Naver', 398),
 ('2019-06', 'Organic', 416),
 ('2019-06', 'Youtube', 400),
 ('2019-05', 'Facebook', 247),
 ('2019-05', 'Google', 253),
 ('2019-05', 'Instagram', 234),
 ('2019-05', 'Naver', 237),
 ('2019-05', 'Organic', 238),
 ('2019-05', 'Youtube', 244)]

In [13]:
%%sql

DROP TABLE IF EXISTS adhoc.byeongmin_session_summary;
CREATE TABLE adhoc.byeongmin_session_summary AS
SELECT B.*, A.ts 
FROM raw_data.session_timestamp A
JOIN raw_data.user_session_channel B ON A.sessionid = B.sessionid

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [14]:
%%sql

SELECT
    TO_CHAR(ts, 'YYYY-MM') AS month,
    COUNT(DISTINCT userid) AS mau
FROM adhoc.byeongmin_session_summary
GROUP BY 1
ORDER BY 1 DESC;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('2019-11', 721),
 ('2019-10', 763),
 ('2019-09', 639),
 ('2019-08', 662),
 ('2019-07', 623),
 ('2019-06', 459),
 ('2019-05', 281)]

In [15]:
%%sql

SELECT COUNT(1) FROM adhoc.byeongmin_session_summary;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(101520,)]

In [16]:
%%sql

SELECT
    COUNT(1)
    FROM(
      SELECT userId, sessionId, ts, channel
      FROM adhoc.byeongmin_session_summary
    );

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(101520,)]

### CTE(Commom Table Expression) 클론

In [17]:
%%sql

with ds AS(
  SELECT DISTINCT userId, sessionId, ts, channel 
  FROM adhoc.byeongmin_session_summary
)
SELECT COUNT(1)
FROM ds;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(101520,)]

In [18]:
%%sql
SELECT MIN(ts), MAX(ts)
FROM adhoc.byeongmin_session_summary;
--FROM ds; 는 왜 안될까?

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: --FROM ds; 는 왜 안될까?]
(Background on this error at: http://sqlalche.me/e/14/f405)

In [19]:
%%sql

SELECT 
    sessionId,
    COUNT(1) AS cnt
FROM adhoc.byeongmin_session_summary
GROUP BY 1
ORDER BY 2 DESC       -- count가 1 이상일 경우 primary key uniqueniss가 사라짐
LIMIT 1;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[('8ae1da0fe37c98412768453f82490da2', 1)]

In [20]:
%%sql

SELECT
    COUNT(CASE WHEN sessionId is NULL THEN 1 END) sessionid_null_cnt,
    COUNT(CASE WHEN userId is NULL THEN 1 END) userid_null_cnt,
    COUNT(CASE WHEN ts is NULL THEN 1 END) ts_null_cnt,
    COUNT(CASE WHEN channel is NULL THEN 1 END) channel_null_cnt
FROM adhoc.byeongmin_session_summary;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(0, 0, 0, 0)]

### 숙제
- 채널별 월 매출액 테이블 만들기 (본인 스키마 밑에 CTAS로 테이블 만들기)
- session_timestamp, user_session_channel, session_transaction 테이블들을 사용
- 아래와 같은 필드로 구성
  - month
  - channel
  - uniqueUsers(총방문 사용자)
  - paidUsers(구매 사용자: refund한 경우도 판매로 고려)
  - conversionRate(구매사용자/총방문 사용자)
  - grossRevenue(refund 포함)
  - netRevenue(refund 제외)

In [39]:
%%sql

create schema test

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
(psycopg2.ProgrammingError) permission denied for database dev

[SQL: create schema test]
(Background on this error at: http://sqlalche.me/e/14/f405)

### LEFT JOIN

In [32]:
 %%sql

DROP TABLE IF EXISTS adhoc.total_session_summary;
CREATE TABLE adhoc.total_session_summary AS
SELECT A.*, B.refunded, B.amount FROM adhoc.byeongmin_session_summary A
LEFT JOIN raw_data.session_transaction B ON A.sessionid = B.sessionid;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

###month

In [33]:
%%sql

select
    TO_CHAR(ts, 'YYYY-MM') AS month,
    count(1) AS session_cnt
from adhoc.total_session_summary
group by 1
order by 1 desc;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('2019-11', 18059),
 ('2019-10', 18899),
 ('2019-09', 15790),
 ('2019-08', 17151),
 ('2019-07', 14840),
 ('2019-06', 10520),
 ('2019-05', 6261)]

### channel

In [34]:
%%sql

select
    channel,
    count(1) AS session_cnt
from adhoc.total_session_summary
group by 1
order by 1 desc;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
6 rows affected.

[('Youtube', 17091),
 ('Organic', 16904),
 ('Naver', 16921),
 ('Instagram', 16831),
 ('Google', 16982),
 ('Facebook', 16791)]

### uniqueUsers

In [38]:
%%sql

select LEFT(ts, 7) AS month, channel, count(distinct userid) AS mau
from adhoc.total_session_summary
group by 1, 2
order by 1, 2 desc;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
42 rows affected.

[('2019-05', 'Youtube', 244),
 ('2019-05', 'Organic', 238),
 ('2019-05', 'Naver', 237),
 ('2019-05', 'Instagram', 234),
 ('2019-05', 'Google', 253),
 ('2019-05', 'Facebook', 247),
 ('2019-06', 'Youtube', 400),
 ('2019-06', 'Organic', 416),
 ('2019-06', 'Naver', 398),
 ('2019-06', 'Instagram', 410),
 ('2019-06', 'Google', 412),
 ('2019-06', 'Facebook', 414),
 ('2019-07', 'Youtube', 564),
 ('2019-07', 'Organic', 557),
 ('2019-07', 'Naver', 553),
 ('2019-07', 'Instagram', 567),
 ('2019-07', 'Google', 556),
 ('2019-07', 'Facebook', 558),
 ('2019-08', 'Youtube', 614),
 ('2019-08', 'Organic', 608),
 ('2019-08', 'Naver', 626),
 ('2019-08', 'Instagram', 621),
 ('2019-08', 'Google', 610),
 ('2019-08', 'Facebook', 611),
 ('2019-09', 'Youtube', 588),
 ('2019-09', 'Organic', 592),
 ('2019-09', 'Naver', 592),
 ('2019-09', 'Instagram', 588),
 ('2019-09', 'Google', 599),
 ('2019-09', 'Facebook', 597),
 ('2019-10', 'Youtube', 705),
 ('2019-10', 'Organic', 709),
 ('2019-10', 'Naver', 713),
 ('2019-10', 'Instagram', 707),
 ('2019-10', 'Google', 699),
 ('2019-10', 'Facebook', 698),
 ('2019-11', 'Youtube', 677),
 ('2019-11', 'Organic', 677),
 ('2019-11', 'Naver', 667),
 ('2019-11', 'Instagram', 669),
 ('2019-11', 'Google', 688),
 ('2019-11', 'Facebook', 688)]

### Boolean

In [42]:
%%sql

select
  count(case when flag = True then 1 end) true_cnt1,
  count(case when flag is True then 1 end) true_cnt2,
  count(case when flag is not False then 1 end) not_false_cnt. -- NULL 까지 count/
from raw_data.boolean_test

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(2, 2, 3)]

### NULL

- NULL 의 경우 is 또는 is not 으로 수행
- NULL 비교를 = 혹은 != 혹은 <> 으로 수행하면 잘못된 결과가 나옴

In [43]:
%%sql

select count(1)
from raw_data.boolean_test
where flag is NULL;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(1,)]

In [45]:
%%sql

select count(1)
from raw_data.boolean_test
where flag = NULL;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(0,)]

###**paidUsers**(구매 사용자: refund한 경우도 판매로 고려)

In [49]:
%%sql

select left(ts, 7) "month",
  channel,
  count(distinct userid) uniqueUsers,
  count(distinct case when amount > 0 then userid end) paidUsers
from adhoc.total_session_summary
group by 1, 2
order by 1, 2;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
42 rows affected.

[('2019-05', 'Facebook', 247, 14),
 ('2019-05', 'Google', 253, 10),
 ('2019-05', 'Instagram', 234, 11),
 ('2019-05', 'Naver', 237, 11),
 ('2019-05', 'Organic', 238, 17),
 ('2019-05', 'Youtube', 244, 9),
 ('2019-06', 'Facebook', 414, 22),
 ('2019-06', 'Google', 412, 13),
 ('2019-06', 'Instagram', 410, 21),
 ('2019-06', 'Naver', 398, 15),
 ('2019-06', 'Organic', 416, 14),
 ('2019-06', 'Youtube', 400, 17),
 ('2019-07', 'Facebook', 558, 32),
 ('2019-07', 'Google', 556, 21),
 ('2019-07', 'Instagram', 567, 24),
 ('2019-07', 'Naver', 553, 19),
 ('2019-07', 'Organic', 557, 22),
 ('2019-07', 'Youtube', 564, 36),
 ('2019-08', 'Facebook', 611, 18),
 ('2019-08', 'Google', 610, 27),
 ('2019-08', 'Instagram', 621, 28),
 ('2019-08', 'Naver', 626, 22),
 ('2019-08', 'Organic', 608, 26),
 ('2019-08', 'Youtube', 614, 18),
 ('2019-09', 'Facebook', 597, 27),
 ('2019-09', 'Google', 599, 25),
 ('2019-09', 'Instagram', 588, 20),
 ('2019-09', 'Naver', 592, 21),
 ('2019-09', 'Organic', 592, 22),
 ('2019-09', 'Youtube', 588, 15),
 ('2019-10', 'Facebook', 698, 29),
 ('2019-10', 'Google', 699, 30),
 ('2019-10', 'Instagram', 707, 33),
 ('2019-10', 'Naver', 713, 32),
 ('2019-10', 'Organic', 709, 31),
 ('2019-10', 'Youtube', 705, 34),
 ('2019-11', 'Facebook', 688, 25),
 ('2019-11', 'Google', 688, 26),
 ('2019-11', 'Instagram', 669, 25),
 ('2019-11', 'Naver', 667, 26),
 ('2019-11', 'Organic', 677, 34),
 ('2019-11', 'Youtube', 677, 45)]

### conversionRate
- paidUsers/uniqueUsers AS conversionRate
- paidUsers::float/uniqueUsers AS conversionRate
- ROUND(paidUsers*100.0/uniqueUsers,2) AS conversionRate
- ROUND(paidUsers*100.0/NULLIF(uniqueUsers,0),2) AS conversionRate

'*' NULLIF uniqueUsers 가 0인 경우 NULL 을 리턴

In [79]:
%%sql

drop table if exists adhoc.byeongmin_total_monthly_channel_summary;
create table adhoc.byeongmin_total_monthly_channel_summary AS
select left(ts, 7) "month",
  channel,
  count(distinct usc.userid) uniqueUsers,
  count(distinct case when amount > 0 then usc.userid end) paidUsers,
  round(paidUsers*100.0/NULLIF(uniqueUsers,0),2) conversionRate,
  sum(amount) grossRevenue,
  sum(case when refunded is False then amount end) netRevenue
from raw_data.user_session_channel usc
left join raw_data.session_timestamp t on t.sessionid = usc.sessionid
left join raw_data.session_transaction st on st.sessionid = usc.sessionid
group by 1, 2;
--order by 1, 2; --order by 는 CTAS를 만들때는 무시된다.

  select * from adhoc.byeongmin_total_monthly_channel_summary;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.
42 rows affected.

[('2019-05', 'Facebook', 247, 14, Decimal('5.67'), 1199, 997),
 ('2019-05', 'Organic', 238, 17, Decimal('7.14'), 1846, 1571),
 ('2019-05', 'Google', 253, 10, Decimal('3.95'), 580, 580),
 ('2019-07', 'Organic', 557, 22, Decimal('3.95'), 1600, 1600),
 ('2019-08', 'Instagram', 621, 28, Decimal('4.51'), 2129, 2001),
 ('2019-08', 'Google', 610, 27, Decimal('4.43'), 2210, 1894),
 ('2019-09', 'Facebook', 597, 27, Decimal('4.52'), 2270, 2270),
 ('2019-11', 'Facebook', 688, 25, Decimal('3.63'), 1678, 1678),
 ('2019-11', 'Naver', 667, 26, Decimal('3.90'), 2234, 1987),
 ('2019-06', 'Youtube', 400, 17, Decimal('4.25'), 1042, 1042),
 ('2019-06', 'Naver', 398, 15, Decimal('3.77'), 1090, 1090),
 ('2019-06', 'Google', 412, 13, Decimal('3.16'), 947, 947),
 ('2019-07', 'Google', 556, 21, Decimal('3.78'), 1558, 1385),
 ('2019-07', 'Naver', 553, 19, Decimal('3.44'), 1547, 1547),
 ('2019-08', 'Naver', 626, 22, Decimal('3.51'), 1829, 1551),
 ('2019-09', 'Organic', 592, 22, Decimal('3.72'), 1267, 1267),
 ('2019-09', 'Naver', 592, 21, Decimal('3.55'), 1996, 1996),
 ('2019-10', 'Google', 699, 30, Decimal('4.29'), 2150, 2098),
 ('2019-10', 'Facebook', 698, 29, Decimal('4.15'), 1650, 1641),
 ('2019-10', 'Naver', 713, 32, Decimal('4.49'), 2695, 2695),
 ('2019-11', 'Organic', 677, 34, Decimal('5.02'), 2626, 2255),
 ('2019-05', 'Youtube', 244, 9, Decimal('3.69'), 529, 529),
 ('2019-05', 'Instagram', 234, 11, Decimal('4.70'), 959, 770),
 ('2019-07', 'Youtube', 564, 36, Decimal('6.38'), 2210, 2037),
 ('2019-07', 'Facebook', 558, 32, Decimal('5.73'), 2222, 2144),
 ('2019-08', 'Facebook', 611, 18, Decimal('2.95'), 1009, 1009),
 ('2019-09', 'Youtube', 588, 15, Decimal('2.55'), 1301, 1301),
 ('2019-10', 'Youtube', 705, 34, Decimal('4.82'), 2492, 2319),
 ('2019-11', 'Google', 688, 26, Decimal('3.78'), 2286, 2235),
 ('2019-05', 'Naver', 237, 11, Decimal('4.64'), 867, 844),
 ('2019-06', 'Organic', 416, 14, Decimal('3.37'), 1129, 940),
 ('2019-06', 'Instagram', 410, 21, Decimal('5.12'), 1462, 1418),
 ('2019-06', 'Facebook', 414, 22, Decimal('5.31'), 1578, 1578),
 ('2019-07', 'Instagram', 567, 24, Decimal('4.23'), 1896, 1766),
 ('2019-08', 'Youtube', 614, 18, Decimal('2.93'), 987, 950),
 ('2019-08', 'Organic', 608, 26, Decimal('4.28'), 1643, 1606),
 ('2019-09', 'Google', 599, 25, Decimal('4.17'), 1872, 1691),
 ('2019-09', 'Instagram', 588, 20, Decimal('3.40'), 1260, 1122),
 ('2019-10', 'Organic', 709, 31, Decimal('4.37'), 2762, 2608),
 ('2019-10', 'Instagram', 707, 33, Decimal('4.67'), 2568, 2395),
 ('2019-11', 'Youtube', 677, 45, Decimal('6.65'), 3532, 3331),
 ('2019-11', 'Instagram', 669, 25, Decimal('3.74'), 2116, 2116)]

In [76]:
%%sql
select *
from adhoc.byeongmin_total_monthly_channel_summary
--group by channel
--order by channel desc
LIMIT 10;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('2019-05', 'Facebook', 247, 14, Decimal('5.67'), 1199, 997),
 ('2019-05', 'Instagram', 234, 11, Decimal('4.70'), 959, 770),
 ('2019-05', 'Youtube', 244, 9, Decimal('3.69'), 529, 529),
 ('2019-07', 'Organic', 557, 22, Decimal('3.95'), 1600, 1600),
 ('2019-08', 'Facebook', 611, 18, Decimal('2.95'), 1009, 1009),
 ('2019-08', 'Instagram', 621, 28, Decimal('4.51'), 2129, 2001),
 ('2019-09', 'Youtube', 588, 15, Decimal('2.55'), 1301, 1301),
 ('2019-11', 'Facebook', 688, 25, Decimal('3.63'), 1678, 1678),
 ('2019-11', 'Naver', 667, 26, Decimal('3.90'), 2234, 1987),
 ('2019-06', 'Facebook', 414, 22, Decimal('5.31'), 1578, 1578)]

In [67]:
%%sql

select value, coalesce(value, 0)
from raw_data.count_test;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[(None, 0), (1, 1), (1, 1), (0, 0), (0, 0), (4, 4), (3, 3)]

### 1. 혹시 OUT JOIN이 필요한지, 테이블 별 점검 필요

In [62]:
%%sql

select distinct sessionid from raw_data.session_timestamp
minus
select distinct sessionid from raw_data.user_session_channel
-- 결과가 0 이라면 완전한 one to one

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
0 rows affected.

[]

In [63]:
%%sql

select distinct sessionid from raw_data.user_session_channel
minus
select distinct sessionid from raw_data.session_timestamp

-- 결과가 0 이라면 완전한 one to one

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
0 rows affected.

[]

In [64]:
%%sql
select * from raw_data.session_transaction
where amount <= 0

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('3d194d58a6470121c92f29c1ee4c936f', False, 0),
 ('50aaa83c9c2d1d1f3ebc6c732c1abc8c', False, 0),
 ('7fbfc161a3b873bf2119c788ed93d1f4', False, 0),
 ('d288a67e5fe3b80c0ccb9531e87d437a', False, 0),
 ('dfc95d616451863a4fe614534e08261c', False, 0),
 ('297b51d372955449d68d0b67ffda8c80', False, 0),
 ('52660fd5af844425740f3a7bf5151008', False, 0),
 ('99e17fbe90095024e6c982c85d43d150', False, 0),
 ('d572948a93127fa250a9aa8a122a4403', False, 0),
 ('e00747f11c12e85717de726cc6c2f188', False, 0)]

In [ ]:
%%sql